<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-buttons [routerLink]="['/achievements']">
          <app-more
            title="Mes achievements"
            icon="medal-outline"
          ></app-more>
      </ion-buttons>

      <ion-buttons>
        <app-more
          title="Mes données"
          icon="server-outline"
        ></app-more>
      </ion-buttons>

      <ion-buttons [routerLink]="['/add']">
        <app-more
          title="Mes catégories"
          icon="menu-outline"
        ></app-more>
      </ion-buttons>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-title>Mes infos</ion-title>

      <div class="profil-info">
        <ion-input placeholder="Pseudo"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Prénom"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Nom"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Date de naissance"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Sexe"></ion-input>
        <p>+</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-title>Mes identifiants</ion-title>

      <div class="profil-info">
        <ion-input placeholder="Email"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Mot de passe"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Téléphone"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Adresse"></ion-input>
        <p>+</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
