<app-header></app-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-buttons>
        <ion-button fill="clear">
          <ion-icon name="medal-outline"></ion-icon>
          <ion-title>Mes achivements</ion-title>
          <p>></p>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button fill="clear">
          <ion-icon name="server-outline"></ion-icon>
          <ion-title>Mes données</ion-title>
          <p>></p>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button fill="clear">
          <ion-icon name="menu-outline"></ion-icon>
          <ion-title>Mes catégories</ion-title>
          <p>></p>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-title>Mes infos</ion-title>

      <div class="profil-info">
        <ion-input placeholder="Pseudo"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Prénom"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Nom"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Date de naissance"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Sexe"></ion-input>
        <p>+</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-title>Mes identifiants</ion-title>

      <div class="profil-info">
        <ion-input placeholder="Email"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Mot de passe"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Téléphone"></ion-input>
        <p>+</p>
      </div>

      <div class="profil-info">
        <ion-input placeholder="Adresse"></ion-input>
        <p>+</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
