ion-card {
  background-color: #E8E8E8;
  margin: 20px 10px;
}

ion-buttons {
  width: 100%;
  padding: 0;
  margin: 0;

}
app-more{
  width: 100%;
}

.profil-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
