h3{
    font-weight: 700;
    font-size: 15px;
}
.infos {
    display: flex;
    justify-content: space-between;
}
ion-note{
    font-size: 13px;
}
.texticon{
    font-size: 22px;
    margin-bottom: -6px;
}
ion-item{
    width: 100%;
}