<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form #userForm="ngForm" (ngSubmit)="save()">
    <div class="padding">
      <ion-item lines="full">
        <ion-label position="floating">First name</ion-label>
        <ion-input [(ngModel)]="user.first_name" name="fname" type="text" required minlength="3" maxlength="20" #fname="ngModel"></ion-input>
      </ion-item>
      <app-error 
        *ngIf="!fname.valid && fname.touched"
        message="vous devez saisir un nom faisant entre 3 et 20 charactères"
      ></app-error>
  
      <ion-item lines="full">
        <ion-label position="floating">Last name</ion-label>
        <ion-input [(ngModel)]="user.last_name" name="lname" type="text" required minlength="3" maxlength="20" #lname="ngModel"></ion-input>
      </ion-item>
      <app-error
        *ngIf="!lname.valid && lname.touched"
        message="vous devez saisir un nom faisant entre 3 et 20 charactères"
      ></app-error>
  
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.mail" name="mail" type="text" required maxlength="160" #mail="ngModel"></ion-input>
      </ion-item>
      <app-error
        *ngIf="!mail.valid && mail.touched"
        message="vous devez saisir un email de max 160 charactères"
      ></app-error>
  
      <ion-item lines="full">
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input [(ngModel)]="user.pseudo" name="pseudo" type="text" required  minlength="3" maxlength="20" #pseudo="ngModel"></ion-input>
      </ion-item>
      <app-error
        *ngIf="!pseudo.valid && pseudo.touched"
        message="vous devez saisir un pseudo faisant entre 3 et 20 charactères"
      ></app-error>
  
      <ion-item lines="full">
        <ion-label position="floating">Age</ion-label>
        <ion-input [(ngModel)]="user.age" name="age" type="number" required min="16" #age="ngModel"></ion-input>
      </ion-item>
      <app-error
        *ngIf="!age.valid && age.touched"
        message="vous devez avoir 16ans pour utiliser l'application"
      ></app-error>
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" required  minlength="8" maxlength="20" #password="ngModel"></ion-input>
      </ion-item>
      <app-error
        *ngIf="!password.valid && password.touched"
        message="vous devez saisir un mot de passe faisant entre 8 et 20 charactères"
      ></app-error>
    </div>
    
  
    <ion-button shape="round" type="submit" color="danger" [disabled]="!userForm.form.valid" expand="block">Sign Up</ion-button>

  </form>
</ion-content>
