.categorie-not-added {
    width: calc(100% - 60px);
    margin: 0 auto;

    .detail-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .categorie-stats {
          display: flex;
          align-items: center;
    
          ion-icon {
            width: 28px;
            height: 28px;
          }
    
          p {
            font-size: 10px;
          }
        }
    }
}
.categorie-added{
    ion-card {
        background-color: #E8E8E8;
        margin: 20px 10px;
    }
    .button{
        border: solid 1px;
        border-radius: 100%;
    }
    #text{
        width: 10%;
        text-align: center;
    }
}