
<ion-header>
  <ion-toolbar>
    <ion-img slot="start" src="../../../assets/img/healthub-logo.svg" alt=""></ion-img>
    <ion-title slot="">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" >
    <div class="padding">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
        <app-error
          *ngIf="form.get('email').touched && form.get('email').errors?.required"
          message="email requis"
        ></app-error>
        <app-error
          *ngIf="form.get('email').touched && form.get('email').errors?.email"
          message="email valid requis"
        ></app-error>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <app-error
          *ngIf="form.get('password').touched && form.get('password').errors?.required"
          message="mot de passe requis"
        ></app-error>
      </ion-item>
      <ion-item lines="none">
            <ion-button [routerLink]="['/forgotpassword']" fill="clear" slot="end">Forgot password?</ion-button>
      </ion-item>
    </div>  
    <ion-button shape="round" (click)="onSubmit()" type="submit" color="danger" [disabled]="!form.valid" expand="block">Sign In</ion-button>
    <ion-button shape="round" [routerLink]="['/registration']" type="submit" color="danger" expand="block">Sign up</ion-button>
  </form>
</ion-content>

