// Wrapper
ion-grid {
  padding-left: 10px;
  padding-right: 10px;

  &.grid-categorie {
    padding-right: 0;
  }
}

// Title
h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}


// CARDS
ion-grid {

  // Grid Catégorie basique
  &.grid-categorie {

    // Title "Catégorie"
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
    }

    ion-row ion-col {
      padding: 5px 12.5px;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  // Grid Cat. exclu
  ion-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }

    // card catégorie
    ion-card {
      width: 180px;
      height: 120px;
      border-radius: 10px;
      text-align: center;

      // card exclu
      &.categorie-card {
        width: 100%;
      }



      // card talk-group
      &.group-card {
        height: 75px;
        width: 100%;
      }
    }

    // Achivement
    &.achivement-container {
      flex-wrap: wrap;
      justify-content: space-between;
      //overflow: hidden;

      ion-col {
        padding: 0;
        width: 100px;
        height: 100px;

        .achivement-card {
          width: 100px;
          height: 100px;
          border: 1px solid red;
          border-radius: 5px;
        }
      }
    }
  }
}

.achivement-show {
  display: flex;
  justify-content: center;
  align-items: center;
}


