<app-header title="Catégories"></app-header>

<ion-content>
  <ion-title class="secondary-title">Mes catégories</ion-title>

  <div class="categorie-container">
    <div *ngFor="let cat of categories">
      <ion-card *ngIf="cat.usercat" [routerLink]="['/detail', cat.id]">
        <ion-title>
          {{cat.name}}
        </ion-title>
      </ion-card>
    </div>
  </div>

  <ion-item-divider></ion-item-divider>

  <ion-title class="secondary-title">Toutes les catégories</ion-title>

  <div class="categorie-container">
    <div *ngFor="let cat of categories">
      <ion-card *ngIf="!cat.usercat" [routerLink]="['/detail', cat.id]">
        <ion-title>
          {{cat.name}}
        </ion-title>
      </ion-card>
    </div>
  </div>
</ion-content>
